@media screen and (max-width: 1130px) {
	#normalcards {width: 70% !important;}
	.card {width: 82% !important}
}

@media screen and (max-width: 1080px) {
	#normalcards {width: 60% !important;}
	.statusowe {width: 80% !important}
}

@media screen and (max-width: 735px) {
	#normalcards {width: 100% !important; display: block}
	.statusowe {width: 100% !important}
	#supportcards {width: 100% !important; display: block !important; float: left !important;}
	.card {float: left !important; width: auto !important}
}

.card {
	display: inline-block !important;
	margin-right: 1%;
	margin-top: 0px;
	width: 25%;
	margin-bottom: 10px;
	max-width: 85%;
}

.statusowe {
	width: 100%;
}

.cardright {
	margin-right: 10px;
}

#status {
	padding: 3px 6px 3px 6px;
	border-radius: 3px;
	float: right;
	margin-top: 12px;
	display: block;
}

#statuscdn {
	padding: 3px 6px 3px 6px;
	border-radius: 3px;
	float: right;
	margin-top: 12px;
	display: block;
}

.offile {
	background-color: #55c24f;
	color: #c6ffc5;
	display: inline;
}

.onfile {
	background-color: #d40000;
	color: #ff7575;
	display: inline;
}

.ofinfo {
	background-color: #1E90FF;
	color: #B0E0E6;
	text-align: right;
}

#contactmethod {
	width: 30%;
	display: inline-block;
	float: right;
}

#contacttext {
	width: 70%;
	display: inline-block;
}

#normalcards {
	width: 70%;
	display: inline-block;
}

#supportcards {
	width: 25%;
	display: inline-block;
	float: right;
}

hr {
	margin-right: 15px;
}

h1 {
	margin-bottom: 0px !important;
	font-size: 2.4em;
}

h5 {
	margin-top: 5px;
	color: rgb(179, 179, 179);
	font-weight: 400;
	padding-left: 2px;
}

a {
	text-decoration: none;
}

.wp-menu-image.dashicons-before.dashicons-shield:before {
	color: #c8edff !important;	
}
